<!DOCTYPE html>

<!--suppress JSUnresolvedVariable -->
<html xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/vue-resource.min.js"></script>
    <script src="/static/js/moment.js"></script>
    <style>
        .list-input {
            display: inline-block;
            width: 400px;
        }

        .title {
            display: inline-block;
            width: 300px;
        }
    </style>
</head>
<body>
<div id="list">
    <input class="list-input"
           v-model.trim="title"
           type="text"
           v-on:keydown="handleKeyDown"
           placeholder="add list"
    >
    <ul>
        <li v-show="title">{{ title }}</li>
        <li v-for="item in items">
            <span class="title">{{ item.Title }}</span>
            <span class="ctime">{{ item.Ctime }}</span>
        </li>
    </ul>
</div>

<script>
    Vue.http.options.emulateJSON = true;
    new Vue({
        el: '#list',
        data: {
            items: [],
            title: ''
        },
        mounted: function () {
            this.$http.get('/api/list/0').then(function (res) {

                if (res.status != 200) throw Error("http status not ok")

                if (res.body.Errno != 0) throw Error(res.body.Errmsg)

                this.items = res.body.Data.Lists

            }).catch(function (err) {
                alert(err.message)
            });
        },
        methods: {
            handleKeyDown: function (event) {
                if (event.keyCode === 13) {//enter
                    this.addList()
                }
            },
            addList: function () {
                this.$http.post('/api/list/add', {
                    title: this.title
                }).then(function (res) {

                    if (res.status != 200) throw Error("http status not ok")

                    if (res.body.Errno != 0) throw Error(res.body.Errmsg)

                    this.items.unshift({Title: this.title, Ctime: moment().format("YYYY-MM-DD HH:mm:ss")})
                    this.title = ""

                }).catch(function (err) {
                    alert(err.message)
                });
            }
        }
    })
</script>
</body>

</html>
